@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-style: normal;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    /* font-family: "Francois One", sans-serif;  */
  }
}



@layer components {

  /* 1200px max pour le contenue evolution du padding en fonction de largeur d'écran  0 (16px) 768 (32px) 1024 (64px)  */
  .apply_wrapper_1440 {
    @apply max-w-1440 mx-auto px-4 md:px-8 xl:px-30;
  }


  /* BALISE GENERIQUES ==================================================================== */
  select {
    cursor: pointer;
  }

  em {
    @apply not-italic text-neonorange;
  }

  strong {
    @apply font-bold;
  }

  /* apply_body_medium_base 
    .apply_body_medium_base {
    @apply font-manrope font-medium text-body_base;

     p {
    @apply text-neutrals-dark font-manrope font-medium text-body_base;
  }
  }
  */

  ul {
    @apply text-neutrals-dark font-manrope font-medium text-body_base list-disc list-outside pl-4;
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-green font-francoisone font-normal uppercase;
  }

  h1 {
    @apply text-title_h1_mobile md:text-title_h1;
  }

  h2 {
    @apply text-title_h2_mobile md:text-title_h2;
  }

  h3 {
    @apply text-title_h3_mobile md:text-title_h3;
  }

  h4 {
    @apply text-title_h4_mobile md:text-title_h4;
  }

  h5 {
    @apply text-title_h5_mobile md:text-title_h5;
  }

  h6 {
    @apply text-title_h6_mobile md:text-title_h6;
  }

  /* FONT SPECIFIQUES ==================================================================== */

  .apply_mogra_20 {
    @apply text-green font-mogra font-normal text-[20px] leading-none;
  }

  .apply_gochihand_18 {
    @apply text-green font-gochihand font-normal text-[18px] leading-none;
  }


  /* BALISE TITLE ==================================================================== */
  .apply_title_h1 {
    @apply font-francoisone font-normal uppercase text-title_h1_mobile md:text-title_h1;
  }

  .apply_title_h2 {
    @apply font-francoisone font-normal uppercase text-title_h2_mobile md:text-title_h2;
  }

  .apply_title_h3 {
    @apply font-francoisone font-normal uppercase text-title_h3_mobile md:text-title_h3;
  }

  .apply_title_h4 {
    @apply font-francoisone font-normal uppercase text-title_h4_mobile md:text-title_h4;
  }

  .apply_title_h5 {
    @apply font-francoisone font-normal uppercase text-title_h5_mobile md:text-title_h5;
  }

  .apply_title_h5_mobile {
    @apply font-francoisone font-normal uppercase text-title_h5_mobile;
  }

  .apply_title_h6 {
    @apply font-francoisone font-normal uppercase text-title_h6_mobile md:text-title_h6;
  }

  .apply_title_h6_nomq {
    @apply font-francoisone font-normal uppercase text-title_h6;
  }


  .apply_title_mini {
    @apply font-francoisone font-normal uppercase text-title_h6_mobile md:text-title_mini;
  }

  .apply_title_drop {
    @apply font-francoisone font-normal text-title_drop_mobile md:text-title_drop;
  }

  .apply_title_drop_2 {
    @apply font-francoisone font-normal text-title_drop_2_mobile md:text-title_drop_2;
  }


  /* BALISE BODY ==================================================================== */
  .apply_body_bold_xl {
    @apply font-manrope font-bold text-body_xl;
  }

  .apply_body_bold_lg {
    @apply font-manrope font-bold text-body_lg;
  }

  .apply_body_bold_base {
    @apply font-manrope font-bold text-body_base;
  }

  .apply_body_bold_sm {
    @apply font-manrope font-bold text-body_sm;
  }

  .apply_body_bold_xs {
    @apply font-manrope font-bold text-body_xs;
  }

  .apply_body_semibold_xl {
    @apply font-manrope font-semibold text-body_xl;
  }

  .apply_body_semibold_lg {
    @apply font-manrope font-semibold text-body_lg;
  }

  .apply_body_semibold_base {
    @apply font-manrope font-semibold text-body_base;
  }

  .apply_body_semibold_sm {
    @apply font-manrope font-semibold text-body_sm;
  }

  .apply_body_semibold_xs {
    @apply font-manrope font-semibold text-body_xs;
  }

  .apply_body_medium_xl {
    @apply font-manrope font-medium text-body_xl;
  }

  .apply_body_medium_lg {
    @apply font-manrope font-medium text-body_lg;
  }

  .apply_body_medium_base {
    @apply font-manrope font-medium text-body_base;
  }

  .apply_body_medium_sm {
    @apply font-manrope font-medium text-body_sm;
  }

  .apply_body_medium_xs {
    @apply font-manrope font-medium text-body_xs;
  }

  .apply_body_regular_xl {
    @apply font-manrope font-normal text-body_xl;
  }

  .apply_body_regular_lg {
    @apply font-manrope font-normal text-body_lg;
  }

  .apply_body_regular_base {
    @apply font-manrope font-normal text-body_base;
  }

  .apply_body_regular_sm {
    @apply font-manrope font-normal text-body_regular_sm;
  }

  .apply_body_regular_xs {
    @apply font-manrope font-normal text-body_xs;
  }



  /* BALISE ICON IMG BACKGROUND AFTER BEFORE ==================================================================== */
  .apply_span_icon {
    @apply flex-none inline-block bg-contain bg-center bg-no-repeat;
  }

  .apply_span_icon_50 {
    @apply flex-none inline-block bg-[length:50%_auto] bg-center bg-no-repeat;
  }

  .apply_span_icon_75 {
    @apply flex-none inline-block bg-[length:75%_auto] bg-center bg-no-repeat;
  }

  .apply_img_center_cover {
    @apply object-cover object-center;
  }

  .apply_img_center_contain {
    @apply object-contain object-center;
  }

  .apply_background_center_contain {
    @apply bg-contain bg-center bg-no-repeat;
  }

  .apply_background_center_cover {
    @apply bg-cover bg-center bg-no-repeat;
  }

  .apply_before_background_center_contain {
    @apply before:bg-contain before:bg-center before:bg-no-repeat;
  }

  .apply_before_background_center_cover {
    @apply before:bg-cover before:bg-center before:bg-no-repeat;
  }

  .apply_after_background_center_contain {
    @apply after:bg-contain after:bg-center after:bg-no-repeat;
  }

  .apply_after_background_center_cover {
    @apply after:bg-cover after:bg-center after:bg-no-repeat;
  }

  .apply_after_absolute_background_center_contain {
    @apply relative after:absolute after:inline-block after:bg-contain after:bg-center after:bg-no-repeat;
  }

  .apply_after_absolute_background_center_cover {
    @apply relative after:absolute after:inline-block after:bg-cover after:bg-center after:bg-no-repeat;
  }


  .apply_before_clip {
    @apply relative before:absolute before:z-10 before:w-full before:left-0 before:bg-center before:bg-cover before:bg-no-repeat;
  }

  .apply_after_clip {
    @apply relative after:absolute after:z-10 after:w-full after:left-0 after:bg-center after:bg-cover after:bg-no-repeat;
  }


  /* BALISE BREADCRUMB ==================================================================== */
  .apply_breadcrumb>li {
    @apply flex items-center;
  }


  .apply_breadcrumb>li>a {
    @apply inline-block;
  }

  .apply_breadcrumb>li>a:hover {
    @apply underline;
  }

  .apply_breadcrumb>li:first-of-type>a {
    @apply bg-contain bg-center bg-no-repeat bg-home flex-none w-4.5 h-4.5;
  }

  .apply_breadcrumb>li:last-of-type>a {
    @apply font-bold text-neonorange pointer-events-none;
  }

  .apply_breadcrumb>li:not(:last-of-type):after {
    @apply content-[''] inline-block ml-2 w-2.5 h-2.5 flex-none bg-contain bg-center bg-no-repeat bg-carret_right;
  }

  /* CGV ==================================================================== */
  /* CGV avec 32px paddingX => 1088px de contenu max  pour 1152px max de large*/
  .apply_style_cgv {
    @apply max-w-1152 mx-auto px-4 md:px-8 py-10 md:pt-20 md:pb-24;
  }

  .apply_style_cgv>div {
    @apply flex flex-col gap-8 md:gap-10;
  }

  .apply_style_cgv h2 {
    @apply mb-8 md:mb-16;
  }

  .apply_style_cgv h3 {
    @apply mb-2 md:mb-4;
  }

  .apply_style_cgv h4 {
    @apply mb-4;
  }

  .apply_style_cgv h3+h4,
  .apply_style_cgv p+h4 {
    @apply mt-6 md:mt-8;
  }



  /* TEMPLATE 2 ==================================================================== */
  .apply_style_template_2 {
    @apply apply_wrapper_1440 flex flex-col gap-8 md:gap-18 pt-10 pb-6 md:pt-18 md:pb-36;
  }

  .apply_style_template_2 section {
    @apply flex flex-col md:flex-row md:data-[direction=reverse]:flex-row-reverse md:items-stretch gap-x-16 gap-y-6 xl:gap-x-16;
  }

  .apply_style_template_2 section aside {
    @apply w-full h-[160px] md:h-auto md:w-[250px] lg:w-[400px] md:flex-none rounded-2xl apply_background_center_cover;
  }

  .apply_style_template_2 section div {
    @apply md:py-8 flex flex-col gap-4;
  }

  /* ARTICLE ==================================================================== */
  .apply_style_article {
    @apply apply_wrapper_1440;
  }

  .apply_style_article header {
    @apply max-w-960 mx-auto pt-10 pb-8 md:pt-20 md:pb-14 flex flex-col gap-2 md:gap-4;
  }

  .apply_style_article img {
    @apply max-w-1184 mx-auto block apply_img_center_cover w-full h-[240px] md:h-[480px] rounded-5xl;
  }

  .apply_style_article>div {
    @apply max-w-960 mx-auto pt-8 pb-10 md:pt-16 md:pb-24 flex flex-col gap-6 md:gap-10;
  }

  .apply_style_article header h2 {
    @apply text-neutrals-dark;
  }

  .apply_style_article section h3 {
    @apply mb-2 md:mb-4;
  }

  .apply_style_article header p {
    @apply text-dark-600 apply_body_medium_lg;
  }

  /* SELECT INPUT ==================================================================== */
  .apply_select_double_background {
    @apply apply_body_medium_base p-[7px_36px_7px_40px] text-neutrals-dark bg-neutrals-white border-solid border-2 border-beige-200 rounded-lg focus:ring-0 focus:border-neutrals-dark;
  }

  .apply_select_carret_right {
    @apply apply_body_medium_base text-neutrals-dark bg-neutrals-white  border-solid border-2 border-dark-200 rounded-lg 
    p-[7px_36px_7px_16px] bg-carret_down bg-[length:12px_12px] bg-[right_16px_center] bg-no-repeat focus:ring-0 focus:border-neutrals-dark ;
  }

}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .css_no_scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .css_no_scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }


  /* Enlever chrome autofill color pour les inputs => solution mettre une transition très longie */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: color 9999s ease-out 9999s, background-color 9999s ease-out 9999s;
    -webkit-transition: color 9999s ease-out 9999s, background-color 9999s ease-out 9999s;
  }

  /* Pour les inputs avec un style imposé sur safari */
  input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

  [x-cloak] {
    display: none !important;
  }


  .css_listing_pages_infos_double_background {
    background-position: left 0px top 17%, right 0px top 70%;
    background-size: 391px 194px, 275px 331px;
  }

  .css_select_double_background {
    background-position: left 16px center, right 16px center;
    background-size: 16px 16px, 12px 12px;
  }

  .css_clip_path_circle {
    clip-path: circle(100% at 0 50%);
  }

}