<!DOCTYPE html>
<html lang="fr" class="scroll-smooth dark ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex">

    <title>DRAFT</title>

    <!-- alpineJS CDN -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- swiperJS CDN version 11 -->
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- lien avec la feuille de style compilée tailwind -->
    <link rel="stylesheet" href="../css/output.css">


    <!-- script JS -->
    <script defer src="../js/script.js"></script>

</head>

<body class="overflow-x-hidden">




    <main>




        <section class="bg-neutrals-white text-dark-700">
            <div
                class="wrapper_1440 pt-16 pb-14 md:pt-26 md:pb-18 flex flex-col md:flex-row md:items-center gap-10 2xl:gap-x-25">

                <div
                    class="relative z-10 md:flex-auto flex flex-col gap-4 after:hidden md:after:inline-block after:content-[''] after:absolute after:-z-10 after:top-[-80px] after:left-[-70px] after:h-[141px] after:w-[141px] after:bg-[url('../sources/img/homepage/homepage_vector/homepage_vector_section6_stars_1.svg')] after:bg-center after:bg-contain after:bg-no-repeat">
                    <p class="text-green title_h2 ">L’avis des <span
                            class="text-neonorange inline-block relative md:static after:inline-block md:after:hidden after:content-[''] after:absolute after:-z-10 after:top-[-27px] after:right-[-35px] after:h-[60px] after:w-[60px] after:bg-[url('../sources/img/homepage/homepage_vector/homepage_vector_section6_stars_2.svg')] after:bg-center after:bg-contain after:bg-no-repeat">parents</span>
                    </p>
                    <p class="md:max-w-[358px] text-dark-700 body_medium_base">Asperiores quod distinctio dolorem modi
                        aperiam aut optio necessitatibus cum. Placeat totam rem. Voluptas distinctio et odit quia u.</p>
                </div>

                <div class="2xl:mr-28 flex-none  relative">

                    <div
                        class="relative z-10 md:w-[470px] overflow-hidden bg-neutrals-white text-dark-700 shadow-reviews  px-6 py-8 rounded-3xl">

                        <div data-slide="2"
                            class="group/slide overflow-hidden data-[slide=2]:animate-blurAnimation_5s data-[slide=3]:animate-blurAnimation_5s">
                            <div
                                class="w-full flex flex-nowrap overflow-visible 
                            group-data-[slide=2]/slide:animate-homepage_reviews_2 group-data-[slide=3]/slide:animate-homepage_reviews_3">

                                <!-- bloc commentaire -->
                                <div class="w-full flex-none flex flex-col gap-6">
                                    <p class="body_medium_lg">“Numquam placeat hic voluptatem officiis suscipit voluptas
                                        ut
                                        vitae
                                        quia. Fuga iusto et libero unde. Numquam laborum vel rerum minus sit.”</p>
                                    <div class="flex items-center justify-start gap-4">
                                        <span
                                            class="flex-none inline-block w-14 h-14 bg-[url('../sources/img/homepage/homepage_avis_1.jpeg')] bg-center bg-no-repeat bg-cover rounded-full"></span>
                                        <div>
                                            <p class="body_bold_base">Geraldine Bailey</p>
                                            <p class="body_regular_sm">Maman de Louise, 8 ans</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- bloc commentaire -->
                                <div class="w-full flex-none flex flex-col gap-6">
                                    <p class="body_medium_lg">“2eme commentaire text”</p>
                                    <div class="flex items-center justify-start gap-4">
                                        <span
                                            class="flex-none inline-block w-14 h-14 bg-[url('../sources/img/homepage/homepage_avis_1.jpeg')] bg-center bg-no-repeat bg-cover rounded-full"></span>
                                        <div>
                                            <p class="body_bold_base">Autre personne</p>
                                            <p class="body_regular_sm">Maman de enfant, 3ans</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div
                        class="absolute w-[337px] h-[188px] md:w-[474px] md:h-[327px] bottom-[-15px] right-[-16px] md:top-[10px] md:left-[40px] bg-[url('../sources/img/homepage/homepage_avis_blur_mobile.svg')] md:bg-[url('../sources/img/homepage/homepage_avis_blur_desktop.svg')] bg-center bg-no-repeat bg-contain">
                    </div>

                </div>
            </div>
        </section>















    </main>











</body>

</html>